<h1>顧客</h1>

{% load customer_extras %}

<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">会社名</th>
      <th scope="col">電話 / FAX</th>
      <th scope="col">メールアドレス</th>
      <th scope="col">住所</th>
      <th scope="col">備考</th>
    </tr>
  </thead>
  <tbody>
{% for company in companies.object_list %}
    <tr>
      <th rowspan="3" scope="row">編集</th>
      <th rowspan="3" scope="col">{{ company.name }}</th>
      <th scope="col"><p>{{ company.telephone_number_1|default_if_none:"" }}</p></th>
      <th rowspan="3" scope="col"><p>{{ company.mail_address|default_if_none:"" }}</p></th>
      <th rowspan="3" scope="col">{{ company.address | linebreaksbr }}</th>
      <th rowspan="3" scope="col">{{ company.note | linebreaksbr }}</th>
    </tr>
    <tr>
      <th scope="col"><p>{{ company.telephone_number_2|default_if_none:"" }}</p></th>
    </tr>
    <tr>
      <th scope="col"><p>{{ company.fax_number|default_if_none:"" }}</p></th>
    </tr>
{% endfor %}
  </tbody>
</body>

{% if companies.has_previous %}
<a href="{{ request.path_info }}?{% query_transform request p=companies.previous_page_number %}">前へ</a>
{% else %}
<p>前へ</p>
{% endif %}

{% if companies.has_next %}
<a href="{{ request.path_info }}?{% query_transform request p=companies.next_page_number %}">次へ</a>
{% else %}
<p>次へ</p>
{% endif %}

{% for index_name in index_name_choices %}
{% if index_name.0|slugify == request.GET.i %}
<div>{{ index_name.1 }}</div>
{% else %}
<a href="{{ request.path_info }}?i={{ index_name.0 }}">{{ index_name.1 }}</a>
{% endif %}
{% endfor %}

<form action="{{ request.path_info }}" method="GET">
  <input name="q" value="{{ request.GET.q }}">
  <input type="submit" value="検索">
</form>
