<h1>会社情報</h1>

<form action="{% url 'customers:save_company' company.id %}" method="POST">
  <input type="submit" value="更新">
  {% csrf_token %}
  <table>
    <tbody>
      <tr>
        <td>会社名</td>
        <td><input type="text" value="{{ company.name }}"></td>
      </tr>
      <tr>
        <td>略称</td>
        <td><input type="text" value="{{ company.short_name |default_if_none:"" }}"></td>
      </tr>
      <tr>
        <td>頭文字</td>
        <td>
          <select>
  {% for index_name in index_names %}
            <option value="{{ index_name.0 }}"{% if company.index_name == index_name.0 %} selected{% endif %}>{{ index_name.1 }}</option>
  {% endfor %}
          </select>
        </td>
      </tr>
      <tr>
        <td>郵便番号</td>
        <td><input type="text" value="{{ company.zip_code |default_if_none:"" }}"></td>
      </tr>
      <tr>
        <td>住所</td>
        <td>
          <input type="text" value="{{ company.address_1 }}">
          <input type="text" value="{{ company.address_2 }}">
          <textarea>{{ company.address_3 }}</textarea>
        </td>
      </tr>
      <tr>
        <td>電話番号</td>
        <td>
          <input type="text" value="{{ company.telephone_number_1 |default_if_none:"" }}">
          <input type="text" value="{{ company.telephone_number_2 |default_if_none:"" }}">
        </td>
      </tr>
      <tr>
        <td>FAX番号</td>
        <td>
          <input type="text" value="{{ company.fax_number |default_if_none:"" }}">
        </td>
      </tr>
      <tr>
        <td>メールアドレス</td>
        <td>
          <input type="text" value="{{ company.mail_address |default_if_none:"" }}">
        </td>
      </tr>
      <tr>
        <td>備考</td>
        <td><textarea>{{ company.note }}</textarea></td>
      </tr>
    </tbody>
  </table>
</form>

<h2>部署一覧</h2>

<table>
  <thead>
    <tr>
      <td>No</td>
      <td>部署名</td>
      <td>電話番号</td>
      <td>FAX番号</td>
      <td>メールアドレス</td>
    </tr>
  </thead>
  <tbody>
{% for section in sections %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ section.name }}</td>
      <td>{{ section.telephone_number_1 |default_if_none:"" }}<br>{{ section.telephone_number_2 |default_if_none:"" }}</td>
      <td>{{ section.fax_number |default_if_none:"" }}</td>
      <td>{{ section.mail_address |default_if_none:"" }}</td>
    </tr>
{% endfor %}
  </tbody>
</table>

<h2>担当者一覧</h2>

<table>
  <thead>
    <tr>
      <td>No</td>
      <td>担当者名</td>
      <td>電話番号</td>
      <td>FAX番号</td>
      <td>メールアドレス</td>
    </tr>
  </thead>
  <tbody>
{% for person in persons %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ person.name }}</td>
      <td>{{ person.telephone_number_1 |default_if_none:"" }}<br>{{ person.telephone_number_2 |default_if_none:"" }}</td>
      <td>{{ person.fax_number |default_if_none:"" }}</td>
      <td>{{ person.mail_address |default_if_none:"" }}</td>
    </tr>
{% endfor %}
  </tbody>
</table>
