<h1>顧客</h1>

{% load customer_extras %}

<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">会社名</th>
      <th scope="col">電話 / FAX</th>
      <th scope="col">メールアドレス</th>
      <th scope="col">住所</th>
      <th scope="col">備考</th>
    </tr>
  </thead>
  <tbody>
{% for company in object_list %}
    <tr>
      <th rowspan="3" scope="row">編集</th>
      <th rowspan="3" scope="col"><a href="{% url 'customers:company_detail' company.id %}">{{ company.name }}</a></th>
      <th scope="col"><p>{{ company.telephone_number_1 |default_if_none:"" }}</p></th>
      <th rowspan="3" scope="col"><p>{{ company.mail_address |default_if_none:"" }}</p></th>
      <th rowspan="3" scope="col">{{ company.address |linebreaksbr }}</th>
      <th rowspan="3" scope="col">{{ company.note |truncatechars_html:80 |linebreaksbr }}</th>
    </tr>
    <tr>
      <th scope="col"><p>{{ company.telephone_number_2 |default_if_none:"" }}</p></th>
    </tr>
    <tr>
      <th scope="col"><p>{{ company.fax_number |default_if_none:"" }}</p></th>
    </tr>
{% endfor %}
  </tbody>
</body>








{% if page_obj.has_previous %}
  <a href="?{% query_transform request page=page_obj.previous_page_number %}">前へ</a>
{% else %}
  <span>前へ</span>
{% endif %}

{% if page_obj.has_next %}
  <a href="?{% query_transform request page=page_obj.next_page_number %}">次へ</a>
{% else %}
  <span>次へ</span>
{% endif %}

<br>

{% if view.kwargs.index_name is not None %}
  <a href="{% url 'customers:company_list' %}">全て</a>
{% else %}
  <span>全て</span>
{% endif %}

{% for index_name in index_name_choices %}
  {% if index_name.0 == view.kwargs.index_name %}
    <span>{{ index_name.1 }}</span>
  {% else %}
    <a href="{% url 'customers:company_list' index_name.0 %}">{{ index_name.1 }}</a>
  {% endif %}
{% endfor %}

<br>

<form action="{{ request.path_info }}" method="GET">
  <input name="query" value="{{ request.GET.query }}">
  <input type="submit" value="検索">
</form>
