担当者一覧

<table>
  <thead>
    <tr>
      <td>No</td>
      <td>担当者名</td>
      <td>電話番号</td>
      <td>FAX番号</td>
      <td>メールアドレス</td>
    </tr>
  </thead>
  <tbody>
{% for person in persons %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ person.name }}</td>
      <td>{{ person.telephone_number_1 |default_if_none:"" }}<br>{{ person.telephone_number_2 |default_if_none:"" }}</td>
      <td>{{ person.fax_number |default_if_none:"" }}</td>
      <td>{{ person.mail_address |default_if_none:"" }}</td>
    </tr>
{% endfor %}
  </tbody>
</table>
